#nbextension-planner {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
}

#close_button {
  position: absolute;
  top: 0;
  left: 0;
}

#main_body {
  height: 100%;
}

#text_area {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  height: 80%;
  border: 1px solid #c3c3c3;
  line-height: 1.2em;
  resize: none;
  font-family: "Times New Roman";
}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  text-align: center;
  width: 10%;
  padding: 8px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4caf50;
}

#upload_file {
  display: none;
}

.resizable {
  display: inline-block;
  background: white;
  resize: both;
  overflow: hidden;
  line-height: 0;
}

.resizable img {
  width: 99%;
  height: 99%;
}
