

#searchbar-wrapper {
  position: absolute;
  background-color: #ffffff;
  border-style: solid;
  border-color: #aaaaaa;
  width:430px;
  top: 100px;
  right: 0px;
  float: right;
  opacity: 1;
  z-index: 100;
  font-size: 12px;
  font-weight: bold;
}
