/* Adapted from https://github.com/ipython/ipython/blob/master/IPython/html/static/style/style.min.css#L10664 */
.dropdown-submenu-left > a:after {
  visibility: hidden;
}
.dropdown-submenu-left > a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  display: block;
  content: "\f0d9";
  float: left;
  color: #333333;
  margin-top: 2px;
  margin-left: -10px;
}


a[title]:hover:after {
    font-family: monospace;
    font-size: 75%;
    content: attr(data-snippet);
    position: absolute;
    width: auto;
    display: table;
    left: 50%;
    white-space: pre;
    z-index: 100;
    background: #EEE;
    padding: 4px;
    border : 2px;
    border-color : #888;
    transition: all 1s ease 1s;
}


/* .boilerplate-snippet { */
/*     font-family: monospace; */
/*     font-size: 75%; */
/*     position: absolute; */
/*     clear: both; */
/*     overflow: hidden; */
/*     padding: 8px; */
/*     background: #EEE; */

/*     /\* These transition on hover *\/ */
/*     opacity:0; */
/*     height: 0; */

/*     /\* Make this disappear immediately on non-hover *\/ */
/*     -webkit-transition: all 0s ease 0s; */
/*     -moz-transition: all 0s ease 0s; */
/*     -o-transition: all 0s ease 0s; */
/*     -ms-transition: all 0s ease 0s; */
/*     transition: all 0s ease 0s; */
/* } */
/* .boilerplate-snippet:hover { */
/*     opacity:1; */
/*     height: auto; */
/*     display: table; */

/*     /\* Immediately pop up the height, but bring in others gradually *\/ */
/*     -webkit-transition: height 0s ease 1.15s,  all .3s ease 1.15s; */
/*     -moz-transition: height 0s ease 1.15s,  all .3s ease 1.15s; */
/*     -o-transition: height 0s ease 1.15s,  all .3s ease 1.15s; */
/*     -ms-transition: height 0s ease 1.15s,  all .3s ease 1.15s; */
/*     transition: height 0s ease 1.15s,  all .3s ease 1.15s; */
/* } */


/* #header #button:hover > .content */
pre.boilerplate-snippet:hover {
    font-family: monospace;
    font-size: 75%;
    position: absolute;
    clear: both;
    padding: 8px;
    width: auto;

    opacity:1;
    height: auto;
    display: table;

    transition: all .3s ease 1.15s;
}

pre.boilerplate-snippet {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;




    font-family: monospace;
    font-size: 75%;
    position: absolute;
    opacity:0;
    clear: both;
    height: 0;
    padding: 8px;
    /* overflow: hidden; */
    width: auto;
    
    transition: all 0s ease 0s;
    
    background: #FAFBFF;
}


/* <div id="header"> */
/*     <a href="#">Some link</a> */
/* 	<div id="button">This is a Button */
/* 		<pre class="content">This is the Hidden Div */
/*     Now with more text!</pre> */
/* 	</div> */
/*     <a href="#">Some link</a> */
/* </div> */

/* #header #button:hover > .content { */
/*     opacity:1; */
/*     height: auto; */
/*     display: table; */

/*     -webkit-transition: all .3s ease 1.15s; */
/*     -moz-transition: all .3s ease 1.15s; */
/*     -o-transition: all .3s ease 1.15s; */
/*     -ms-transition: all .3s ease 1.15s; */
/*     transition: height 0s ease 1.15s,  all .3s ease 1.15s; */
    
/* } */

/* #header #button .content { */
/*     font-family: monospace; */
/*     font-size: 75%; */
/*     position: absolute; */
/*     opacity:0; */
/*     clear: both; */
/*     height: 0; */
/*     padding: 8px; */
/*     overflow: hidden; */
    
/*     -webkit-transition: all 0s ease 0s; */
/*     -moz-transition: all 0s ease 0s; */
/*     -o-transition: all 0s ease 0s; */
/*     -ms-transition: all 0s ease 0s; */
/*     transition: all 0s ease 0s; */
    
/*     background: #FAFBFF; */
/* } */

