#site > .container {
    padding-top: 0;
}

/* nbext-page-title-wrap and nbext-page-title
   are styled to match the notebook save widget */
.nbext-page-title-wrap {
    margin-top: 6px;
}

.nbext-page-title {
    height: 1em;
    line-height: 1em;
    padding: 3px;
    margin-left: 16px;
    border: none;
    font-size: 146.5%;
    border-radius: 2px;
}

.nbext-showhide-incompat {
    margin-top: 1em;
    margin-bottom: 0.5em;
    float: left;
    clear: both;
}

#site > .container > .row {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#site > .container > .row + .row {
    border-top: 1px solid #AAA;
}

.nbext-title {
    margin-top: 0;
}

.nbext-activate-btns .btn {
    border-radius: 4px;
}

.nbext-activate-btns .btn[disabled] {
    color: #cccccc;
}

.nbext-icon {
    margin-left: 8px;
    text-align: center;
}

.nbext-icon img {
    max-height: 120px;
    max-width: 100%;
}

.nbext-desc,
.nbext-compat-div,
.nbext-activate-btns,
.nbext-params {
    margin-bottom: 8px;
}

.nbext-params > .panel-heading {
    font-size: 110%;
}

.nbext-list-element,
.nbext-list-element-placeholder {
    margin-bottom: 2px;
}

.nbext-list-element-placeholder {
    height: 32px;
    width: 100%;
    border: 1px solid #fcefa1;
    background-color: #fbf9ee;
    color: #363636;
}

.nbext-list-element:only-child > .handle {
    display: none;
}

.nbext-list-element:only-child > .handle + .form-control {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.input-group .nbext-list-btn-add {
    font-size: inherit;
}
