{% extends "page.html" %}

{% block title %}{{page_title}}{% endblock %}

{% block stylesheet %}
{{super()}}
{% endblock %}

{% block params %}

data-base-url='{{base_url}}'
data-extension-list='{{extension_list}}'

{% endblock %}

{% block headercontainer %}

<center><h2>{{page_title}}</h2></center>
 <a href="{{ config_md }}">Readme</a></div><br>'
{% endblock %}

{% block header %}

{% endblock %}

{% block site %}

<div id="nbextensions-container" class="container"></div>

{% endblock %}

{% block script %}

    {{super()}}

<script src="{{ config_js  }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
