.switch {
  padding-top: 10px;
}

.btn-warning {
  background-color: #e29a40;
}

.switch span {
  width: 50px;
}

/* round toogle switch */
.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
  border-radius: 30px;
}
.toggle.ios .toggle-handle {
  border-radius: 30px;
}

.toggle-group {
  width: 210%;
}

.toggle-handle {
  background-color: grey;
}

.font-style-box {
  padding: 3px 20px;
}

.font-size-box {
  padding: 3px 20px;
}

.fs-dropdown-menu {
  min-width: 170px;
}

.select-box {
  width: 60px !important;
}
