{% extends "page.html" %}

{% block title %}{{page_title}}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ static_url('components/codemirror/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ static_url('components/codemirror/addon/dialog/dialog.css') }}">
{{super()}}
{% endblock %}

{% block params %}

data-base-url='{{base_url}}'
data-extension-list='{{extension_list}}'

{% endblock %}

{% block headercontainer %}

<span id="save_widget" class="pull-left save_widget">
    <span class="filename"></span>
    <span class="last_modified"></span>
</span>

{% endblock %}

{% block header %}

{% endblock %}

{% block site %}

<h1>Notebook Extension Configuration </h1>
<div id="nbextensions-container" class="container"></div>

{% endblock %}

{% block script %}

    {{super()}}

<script src="{{ "/nbextensions/config/main.js" }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
