.collapsible_headings_toggle .h1,
.collapsible_headings_toggle .h2,
.collapsible_headings_toggle .h3,
.collapsible_headings_toggle .h4,
.collapsible_headings_toggle .h5,
.collapsible_headings_toggle .h6 {
	margin: 0;
}

.collapsible_headings_toggle .fa:before {
	transition: transform 400ms;

	/* rotation=2 is only 180 degrees, but since + and - have 180deg rotational
	symettry, it still works, just spins less */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.collapsible_headings_collapsed .fa:before {
	filter: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.text_cell .input_prompt {
	display: flex;
    flex-direction: row;
}

.collapsible_headings_toggle {
	flex: 1;
    align-self: center;
}

/* bracket rules */

div.cell {
  position: relative;
}

.chb {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: calc(100% + 3px);
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: stretch;
}

.chb div {
  margin-left: 2px;
  width: 5px;
  border-color: #aaa;
  border-style: solid;
  border-width: 0 1px 0 0;
}

.chb .chb-start {
  border-top-width: 1px;
  margin-top: 2px;
}

.chb .chb-end {
  border-bottom-width: 1px;
  margin-bottom: 2px;
}

.collapsible_headings_collapsed .chb .chb-start {
	border-width: 5px 2px 2px 0;
}

/* ellipsis rules */
.collapsible_headings_ellipsis .rendered_html h1,
.collapsible_headings_ellipsis .rendered_html h2,
.collapsible_headings_ellipsis .rendered_html h3,
.collapsible_headings_ellipsis .rendered_html h4,
.collapsible_headings_ellipsis .rendered_html h5,
.collapsible_headings_ellipsis .rendered_html h6 {
  position: relative;
  padding-right: 2em;
}

.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h1:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h2:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h3:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h4:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h5:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h6:after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "[\002026]";
  color: #aaa;
}