.collapsible_headings_toggle .h1,
.collapsible_headings_toggle .h2,
.collapsible_headings_toggle .h3,
.collapsible_headings_toggle .h4,
.collapsible_headings_toggle .h5,
.collapsible_headings_toggle .h6 {
	margin: 0;
}

.collapsible_headings_toggle .fa:before {
	transition: transform 400ms;

	/* rotation=2 is only 180 degrees, but since + and - have 180deg rotational
	symettry, it still works, just spins less */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.collapsible_headings_collapsed .fa:before {
	filter: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.input_prompt {
	display: flex;
    flex-direction: row;
}

.collapsible_headings_toggle {
	flex: 1;
    align-self: center;
}
