{% extends "page.html" %}

{% block title %}{{page_title}}{% endblock %}

{% block stylesheet %}
{{super()}}
{% endblock %}

{% block params %}

data-base-url='{{base_url}}'
data-extension-list='{{extension_list}}'

{% endblock %}

{% block headercontainer %}

<div class="pull-left nbext-page-title-wrap">
	<span class="nbext-page-title" style="display: none;">
		Configuration for Notebook Extensions
		(<a href="/nbextensions/config/rendermd/nbextensions/config/readme.md">more information</a>)
	</span>
</div>
<div class="nbext-showhide-incompat" style="display: none;">
	disable settings for extensions without explicit compatibility
	(they may break your notebook environment,
	 but can be useful to show for extension development)
</div>

{% endblock %}

{% block header %}

{% endblock %}

{% block site %}

<div id="notebook-container" class="container"></div>

{% endblock %}

{% block script %}

    {{super()}}

<script src="/nbextensions/config/main.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
