{% extends "page.html" %}

{% block title %}{{page_title}}{% endblock %}

{% block stylesheet %}
{{super()}}
{% endblock %}

{% block params %}

data-base-url='{{base_url}}'
data-md-url='{{render_url}}'

{% endblock %}

{% block headercontainer %}

<center><h2>{{ page_title }}</h2></center>

{% endblock %}

{% block header %}

{% endblock %}

{% block site %}

<div id="render-container" class="container"></div>

{% endblock %}

{% block script %}

    {{super()}}

<script src="{{ render_js }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
