.hmode {
display:none !important;
}
.navbar-inner {
opacity: 0.5;
transition: opacity 0.5s ease-in-out;
-webkit-transition: opacity 0.5s ease-in-out;
}
.navbar-inner:hover {
opacity: 1.0;
}
.toolbar {
padding: 10px 250px;
}
.CodeMirror {
background: #F8FCCF;
}
div.input_area {
margin: 2px;
border: none;
}